/* en css nos vamos a manejar con clases, las clases las identificamos con un punto '.'*/
.encabezado {
  background-color: rgb(15, 28, 36);
  color: antiquewhite;
}
.alinear {
  display: flex;
}
.titulo.exp {
  font-weight: bold;
}
.parrafo-cursiva {
  font-style: italic;
}
.bordes {
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
}
.caja-izquierda {
  width: 30%;
}
.caja-derecha {
  width: 65%;
}
