.aliniamiento_fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color {
  background-color: rgb(71, 114, 116);
}

.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 15x;
}

:root {
  background-color: rgb(75, 210, 214);
}
